<%=render 'search' %>
<% if current_user %>
  <%=render 'create_playlist' %>
  <%=render 'playlist_links' %>
<%end%>

<div class="portfolioContainer">
  <% if @results !=nil%>
    <%=render 'results'%>
  <%end%>

  <% if current_user %>
    <%=render 'playlists'%>
  <%end%>
</div>

