<div id="topBanner">
  <div id= 'logo'>
    <h1 id='SiteName'>VID STACKS  <img src="/assets/play.png" height="50px"> </h1>
  </div>
  <div id= 'bars'>
    <div id="searchBar" >
      <%=render 'search' %>
    </div>
    <% if current_user %>
    <div id="playlistBar">
    <%=render 'create_playlist' %>
    </div>
  </div>
<%end%>
</div>

<center>
<div id="Stacklinks">
   <%=render 'playlist_links' %>
 </div>
 <hr size = 2 width=90% align="center" color="#2980b9">
</center>

<div class="portfolioContainer">
  <% if @results !=nil%>
    <%=render 'results'%>
  <%end%>

  <% if current_user %>
    <%=render 'playlists'%>
  <%end%>

</div>
 <hr size = 2 width=90% align="center" color="#2980b9">
