<div id="topBanner">
  <div id="searchBar" >
    <h1 id='SiteName'>VID STACKS </h1>
    <%=render 'search' %>
  </div>
<% if current_user %>
  <div id="playlistBar">
    <%=render 'create_playlist' %>

  </div>
    <%=render 'playlist_links' %>

<%end%>
</div>

<div class="portfolioContainer">

  <% if @results !=nil%>

    <%=render 'results'%>
  <%end%>

  <% if current_user %>
    <%=render 'playlists'%>
  <%end%>

</div>

