<!DOCTYPE html>
<html>
<head>
  <title>Tubedrawers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<header>
    <% if current_user %>
      Welcome <%= current_user.email %> !
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <%else%>
      <%= link_to "Sign In", new_user_session_path%>
    <%end%>
</header>
<body>

<%= yield %>

</body>
</html>
